{% extends 'accounts/accounts_main.html' %}

{% block content %}

<h1> Update Brother Dashboard </h1>
<!-- It would be dope to just have this check the viewers status and roll out the links labelled to them -->
<div class = "card card-body">
    <table class="table">
        <tr>
            <th>Linked Destination</th>
        </tr>
        {% for i in active_links%}
            <tr> 
                <td><a href={{i.redirect}}>{{i.dashboard_redirect_name}}</a></td>
            </tr>
            {% endfor %}
    </table>
</div>
<div>
    <a class="btn btn-sm btn-info" href="{% url 'dashboard' %}"> Return to Roster</a>
</div>
{% endblock %}